<?xml version='1.0' encoding='utf-8'?>
<widget id="net.gaelmrt.gamedb" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GameDb</name>
    <description>
        An application to see all the games that will come out soon or that went out recently (one week).
    </description>
    <author email="gael.mrt@eduge.ch" href="http://cordova.io">
        Gael MRT
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icons/Icon-36.png"/>
        <icon density="mdpi" src="res/icons/Icon-48.png"/>
        <icon density="hdpi" src="res/icons/Icon-72.png"/>
        <icon density="xhdpi" src="res/icons/Icon-96.png"/>
        <icon density="xxhdpi" src="res/icons/Icon-144.png"/>
        <icon density="xxxhdpi" src="res/icons/Icon-192.png"/>
        <splash src="res/splash/ldpi-port.png" density="port-ldpi"/>
        <splash src="res/splash/ldpi-land.png" density="land-ldpi"/>
        <splash src="res/splash/mdpi-port.png" density="port-mdpi"/>
        <splash src="res/splash/mdpi-land.png" density="land-mdpi"/>
        <splash src="res/splash/hdpi-port.png" density="port-hdpi"/>
        <splash src="res/splash/hdpi-land.png" density="land-hdpi"/>
        <splash src="res/splash/xhdpi-port.png" density="port-xhdpi"/>
        <splash src="res/splash/xhdpi-land.png" density="land-xhdpi"/>
        <splash src="res/splash/xxhdpi-port.png" density="port-xxhdpi"/>
        <splash src="res/splash/xxhdpi-land.png" density="land-xxhdpi"/>
        <splash src="res/splash/xxxhdpi-port.png" density="port-xxxhdpi"/>
        <splash src="res/splash/xxxhdpi-land.png" density="land-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="res/icons/Icon-1024_opaque.png" height="1024" width="1024"/>
</widget>
