/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.gameCard{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
}
th{
  border:1px solid black
}
td{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px dotted black;
}
.tableLink {
  display: block;
  width: 100%;
  height: 100%;
  color:black;
}
.tableLink:hover{
  cursor: pointer;
}