table{
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
th,td{
    border: 1px solid black;
}
th,td,.tableLink{
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myIcon{
    width: 30px;
}
#followed:hover{
    cursor: pointer;
}
#followed:active{
    -webkit-transform: scale(0.9); /* Saf3.1+, Chrome */
       -moz-transform: scale(0.9); /* FF3.5+ */
        -ms-transform: scale(0.9); /* IE9 */
         -o-transform: scale(0.9); /* Opera 10.5+ */
            transform: scale(0.9);
}